* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}

header {
    border-bottom: 1px solid lightgray;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.48);
}

nav {
    position: fixed;
    top: 50px;
    bottom: 0;
    menu {
        list-style-type: none;
        text-align: center;
        li {
            padding: 10px;

            &:hover {
                cursor: pointer;
                background-color: lightgray;
            }
        }
    }
    width: 150px;
    border-right: 1px solid lightgray;
}

main {
    margin-left: 150px;
    margin-top: 50px;
    padding: 5px;

     section:first-child {
         height: 400px;
         border-bottom: 1px solid lightgray;
         margin-bottom: 10px;
         background-image: url('../img/1.jpg');
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 10px;
         animation-name: slider;
         animation-duration: 7s;
         animation-iteration-count: infinite;
     }
}

@keyframes slider {
    0% {
        background-image: url('../img/1.jpg');
    }

    25% {
        background-image: url('../img/2.png');
    }

    50% {
        background-image: url('../img/3.jpg');
    }

    75% {
        background-image: url('../img/4.jpg');
    }
}

#image-wrapper {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    gap: 30px;

    div:first-child {
        text-align: center;
        h2 {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
    }

    img {
        width: 300px;
        border-radius: 10px;
    }
}

footer {
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 10px;
    font-weight: bold;
}